<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- JDBC Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://ec2-34-248-165-3.eu-west-1.compute.amazonaws.com:5432/df793j04v098cc</property>
		<property name="connection.username">gihdgphjrzydxf</property>
		<property name="connection.password">0f329e283f6e733a65b0276c17491844f5ebba58715bda68f43cfcb27dd4bacc</property>

		<!-- JDBC connection pool settings ... using built-in test pool -->
		<property name="connection.pool_size">3</property>

		<!-- Select our SQL dialect -->
		<!--property name="dialect">org.hibernate.dialect.OracleDialect</property>-->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- Echo the SQL to stdout -->
		<property name="show_sql">false</property>
		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="com.buyfy.model.Address"/>
		<mapping class="com.buyfy.model.Cart"/>
		<mapping class="com.buyfy.model.Category"/>
		<mapping class="com.buyfy.model.Feedback"/>
		<mapping class="com.buyfy.model.Image"/>
		<mapping class="com.buyfy.model.Order"/>
		<mapping class="com.buyfy.model.Product"/>
		<mapping class="com.buyfy.model.ProductQuantity"/>
		<mapping class="com.buyfy.model.ProductReview"/>
		<mapping class="com.buyfy.model.User"/>
	</session-factory>

</hibernate-configuration>